.App {
  text-align: center;
}

body {
  background-color: #FF0000;
}

h3 {
  color: black;
}

.entry-box {
  background-color: white;
  border: 0.16em solid white;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 1em 3em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  transition: all 0.15s;
  color: black;
}

.submit-btn {
  background-color: white;
  border: 0.16em solid white;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 1em 3em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  transition: all 0.15s;
  color: black;
  margin: 5px
}

.submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.poke-info {
  border: white solid;
}

img {
  border: white solid;
  margin: 20px;
  height: 15em;
  width: 15em;
}

.logo {
  width: 40em;
}